
@font-face { font-family: Moon; src: url('fonts/Moon_Bold.OTF'); } 

html,body {
    height: 90%;
    width: 90%;
}

html {
    background-size: 100% 100%;
    background: url("https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    font-family: Moon,sans-serif;
    font-size: 100px;
    text-align: center;
}

